@import "reset.less";
@font-face {font-family: 'Pexico-Regular';src: url('../fonts/2B63DD_0_0.eot');src: url('../fonts/2B63DD_0_0.eot?#iefix') format('embedded-opentype'),url('../fonts/2B63DD_0_0.woff') format('woff'),url('../fonts/2B63DD_0_0.ttf') format('truetype');}
*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
@black: #282828;
@white: #f8f8f2;
@pink: #f9266b;
@green: #a6e22e;
@yellow: #e6db6c;
@ligthtYellow: #666633;
a{
  color:@yellow;
  text-decoration:none;
  transition: all .2s;
}
body{
  font-family: "Pexico-Regular";
}
.pink{
  color:@pink;
}
.green{
  color:@green;
}
.yellow{
  color:@yellow;
}

.group:after {
  content: "";
  display: table;
  clear: both;
}
.header{
  top:0;
  position:fixed;
  width: 100%;
  z-index: 1000;
  background: white;
  height:70px;
  .nav{
    width:210px;
    margin:10px auto 0;
    height:60px;
    .logo{
      width:50px;
      height: 70px;
      background: url("../images/dino.jpeg") no-repeat;
      background-size: 100% auto;
      margin-right:3px;
    }
  }
  a{
    float:left;
    display:block;
    color:black;
    height:70px;
    font-size:24px;
    li{
      margin-right:10px;
      line-height: 50px;
    }
    &.inactive{
      color:#bbb;
      &:hover{
        color:#bbb;
      }
    }
    &:hover{
      color:@yellow;
    }
  }
  .bor{
    display:none;
    width:100%;
    border-top:3px solid #888;
    border-bottom:3px solid #aaa;
    opacity: .7;
  }
}
.container{
  width:960px;
  margin:170px auto 0;
}
.box{
  position:relative;
  width:100%;
  height:20px;
  width: 370px;
  height:500px;
  margin:0 auto;
}
.item{
  cursor:pointer;
  position:absolute;
  width:35px;
  background:@black;
  height:35px;
  img{
    width:45px;
  }
}

.item9{
  top:0;
}
.item8{
  top:36px;
}
.item7{
  top:72px;
}
.item6{
  top:108px;
}
.item5{
  top:144px;
}
.item4{
  top:180px;
}
.item3{
  top:216px;
}
.item2{
  top:252px;
}
.item1{
  top:288px;
}
.col2{
  left:36px;
}
.col3{
  left:72px;
}
.col4{
  left:108px;
}
.col5{
  left:144px;
}
.col6{
  left:180px;
}
.col7{
  left:216px;
}
.col8{
  left:252px;
}

.item.explosion{
  background: url("../images/explosion.gif") no-repeat;
  background-position:center center;
  background-size:100% auto;
}
#bullet{
  display:none;
  position:absolute;
  top:490px;
  width: 10px;
  height:10px;
  background:black;
}
#shoter{
  position:absolute;
  width:70px;
  background:black;
  top:540px;
  left:50%;
  color: white;
  line-height: 20px;
  padding: 10px;
}

.editor{
  position:relative;
  width: 100%;
  background:@black;
  font-family: Courier;
  color:@white;
  overflow: hidden;
  ul{
    position:absolute;
    background:#303030;
    padding-right:20px;
    padding-top:10px;
    width:30px;
    li{
      color:#a7a7a3;
      width:30px;
      text-align: right;
      font-size:16px;
    }
  }
  .cont{
    padding-top:10px;
    float:left;
    padding-bottom:30px;
    padding-left:50px;
  }
  ::selection {
    background:@ligthtYellow;
    opacity:1;
  }


  ::-moz-selection {
    background:@ligthtYellow;
    opacity:1;
  }

}
.fluidbox {
  outline: none;
}
.fluidbox-overlay {
  cursor: pointer;
  cursor: -webkit-zoom-out;
  cursor: -moz-zoom-out;
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  transition: all .25s ease-in-out;
}
.fluidbox-wrap {
  background-position: center center;
  background-size: cover;
  margin: 0 auto;
  position: relative;
  transition: all .25s ease-in-out;
}
.fluidbox-ghost {
  background-size: cover;
  background-position: center center;
  position: absolute;
  transition: all .25s ease-in-out;
  p{
    font-size: 3px;
    position: absolute;
    bottom: 0;
    padding: 1px 0 0 1px;
    width:100%;
    background:black;
    opacity:.8;
    color:white;
  }
}
.fluidbox-closed .fluidbox-ghost {
  -webkit-transition-property: top, left, opacity, -webkit-transform;
  -moz-transition-property: top, left, opacity, -moz-transform;
  -o-transition-property: top, left, opacity, -o-transform;
  transition-property: top, left, opacity, transform;
  transition-delay: 0, 0, .25s, 0;
}
.fluidbox-closed .fluidbox-wrap img {
  transition-property: opacity;
  transition-delay: .25s;
  transition-duration: 0s;
}
.blog{
  .container{
    margin-top:100px;
    width:800px;
    ul{
      margin:0;
      padding:0;
      li{
        margin-bottom:70px;
        h2{
          text-align:left;
          font-size:34px;
          text-align: center;
        }
        p{
          text-align: left;
          font-size:20px;
        }
        .date{
          margin:20px auto;
          font-size:16px;
          text-align:center;
        }
        .read{
          margin:20px auto 0;
          width:190px;
          display:block;
          opacity:0;
          color:@black;
          text-align: center;
          transition:.5s;
          padding:10px 20px;
          border:1px solid @black;
        }
      }
      a{
        color:@black;
      }
      a:hover{
        color:@yellow;
        transition:.5s;
        .read{
          opacity: 1;
        }
      }
    }
  }
}
.blogSingle{
  .container{
    width:800px;
    margin-top:100px;
    h2{
      font-size:34px;
      text-align: center;
    }
    p{
      text-align: left;
      font-size:20px;
      line-height:26px;
    }
    .date{
      margin:20px auto;
      font-size:16px;
      text-align: center;
    }
    img{
      width: 100%;
      margin:20px 0;
    }
  }
}
