@import "../../common/variables.css";

.logo {
    width: 100px;
    margin-bottom: 30px;
}

.container {
    text-align: center;
}

.title {
    text-align: center;
    font-size:48px;
    font-family: var(--heavy);
    margin-bottom: 10px;
}

.subtitle {
    font-size: 18px;
    color: #8a8a8a;
    line-height: 1.33;
}

@media screen and (max-width: 600px) {
    .subtitle{
        padding: 0 30px;
    } 
  }