@import "../../common/variables.css";

.logo {
    width: 100px;
    margin-bottom: 30px;
}

.container {
    text-align: center;
}

.title {
    text-align: center;
    font-size:48px;
    font-family: var(--heavy);
}

.subtitle {
    font-size: 18px;
    color: #8a8a8a;
    line-height: 1.33;
}