.postContainer{
    position: relative;
    display: inline-block;
    width: 100%;
    overflow: hidden;
    grid-row-end: span 1;
}
.longCointainer{
    position: relative;
    display: inline-block;
    grid-column-end: span 2;
    grid-row-end: span 1;
    overflow: hidden;
}
.mainImg {
    width: 100%;
    height: 400px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: transform
    /* &:hover {
        transform: scale(1.2);
    } */
}
.desc {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 20px;
}
.titleDark {
    font-size: 40px;
}
.titleLight {
    font-size: 40px;
    color: white;
}
.data {
    border-left: 4px solid #ffa40b;
    margin-top: 15px;
    padding-left: 10px;
}
.tagsDark {
    font-size: 16px;
}
.tagsLight {
    font-size: 16px;
    color: white;
}
.dateLight {
    font-size: 16px;
    color: white;
}

@media screen and (max-width: 1128px) {
    .longCointainer{
        grid-column-end: span 1;
    }
  }