.container{
    position:relative;
    padding: 40px;
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 40px;
}
.link {
    font-size: 14px;
    color: black;
}
.hand {
    font-size: 18px;
    line-height: 0;
    margin-right: 5px;
    vertical-align: middle;
}
.none {
    opacity: 0;
}
.logo {
    position: absolute;
    left: 50%;
    top: 27px;
    margin-left: -18px;
    height: auto;
    width: 36px;
}

@media screen and (max-width: 600px) {
    .container {
        width: 100%;
        padding: 20px;
    }
  }