.container{
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 40px;
}
.link {
    font-size: 14px;
    color: black;
}
.none {
    opacity: 0;
}
.logo {
    height: 36px;
    width: auto;
}

@media screen and (max-width: 600px) {
    .container {
        width: 100%;
        padding: 20px;
    }
  }